<template>
	<div class="context-menu">
		<button @click.stop="$emit('play')">Play now</button>
		<button @click.stop="$emit('add')">Add to queue</button>
	</div>
</template>

<script lang="ts">
import {defineComponent} from 'vue';

export default defineComponent({
	name: "CardMenu",
	emits: ["play", "add"],
});
</script>
