<template>
	<div class="card" tabindex="0" @contextmenu.prevent="showMenu = true" ref="card">
		<div class="p-2 flex-grow flex justify-center items-center">
			<div class="relative">
				<card-menu v-if="showMenu" @add="add" @play="play" />
				<img :src="`music/artwork/${img || data.cover}`" class="flex-none" />
			</div>
		</div>
		<div class="text-md py-2 px-5 text-center whitespace-nowrap gap-1 relative w-full">
			<div class="overflow-hidden">{{data.name}}</div>
			<div 
				class="context-button"
				@click.stop="showMenu = !showMenu"
				@dblclick.stop
			>
				<i class="fas fa-ellipsis-v" />
			</div>
		</div>
	</div>
</template>

<script lang="ts" setup>
import {nextTick, ref, toRefs, watch} from 'vue';
import CardMenu from "@/components/browser/CardMenu.vue";
import * as types from "@/Types";
import {TransportController} from '@/ApplicationState';
import { useFocusWithin } from '@vueuse/core';

const props = defineProps<{
	data: types.Album | (Omit<types.Artist, "covers"> & {cover: string}),
	img?: string
}>();

const {data, img} = toRefs(props);
const card = ref();
const showMenu = ref(false);
const {focused} = useFocusWithin(card);

const play = () => {
	TransportController.setPlaylist(data.value.songs);
	showMenu.value = false;
	nextTick(() => {
		TransportController.changeSong(0);
	});
};
const add = () => {
	TransportController.addAllToPlaylist(data.value.songs);
	showMenu.value = false;
};

// watch(focused, (f) => {
// 	if (!f) {
// 		showMenu.value = false;
// 	}
// });
</script>
