<template>
	<div class="flex flex-col h-full gap-2">
		<div class="flex flex-row items-center justify-around gap-2">
			<button class="bg-green-500 rounded-sm w-full p-2 hover:bg-green-600" @click="playNow">
				Play Now
			</button>
			<button class="bg-green-500 rounded-sm w-full p-2 hover:bg-green-600" @click="queue">
				Add all to queue
			</button>
		</div>
		<div class="h-full overflow-x-auto pb-16">
			<div class="grid grid-cols-3 gap-1">
				<div class="font-bold p-2">
					Name
				</div>
				<div class="font-bold p-2">
					Artist
				</div>
				<div class="font-bold p-2">
					Album
				</div>
			</div>
			<track-row
				v-for="(track, idx) of tracks"
				:key="idx"
				:track="track"
				:idx="idx"
				:show-menu="idx === focusedRow"
				@show-menu="focusRow"
				@click="focusedRow = -1"
			/>
		</div>
	</div>
</template>

<script lang="ts">
import {PropType, defineComponent} from "vue";
import TrackRow from "@/components/browser/Track.vue";
import { TransportController } from "@/ApplicationState";
import * as types from "@/Types";

export default defineComponent({
	name: "Tracks",
	components: {
		TrackRow,
	},
	props: {
		tracks: {
			type: Array as PropType<types.Song[]>,
			required: true,
		},
	},
	data() {
		return {
			focusedRow: -1,
		};
	},
	methods: {
		focusRow(idx: number) {
			this.focusedRow = idx;
		},
		playNow() {
			TransportController.setPlaylist(this.tracks.map(t => t.idx));
			TransportController.play();
		},
		queue() {
			TransportController.addAllToPlaylist(this.tracks.map(t => t.idx));
		}
	},
});
</script>