<template>
	<div class="track" @dblclick="overridePlaylist(idx, track.idx)">
		<div class="whitespace-nowrap flex-grow p-2">
			<div class="relative">
				<div v-if="showMenu" class="context-menu">
					<button @click.stop="overridePlaylist(idx, track.idx)">Play now</button>
					<button @click.stop="addToQueue(idx, track.idx)">Add to queue</button>
				</div>
			</div>
			
			<div class="flex w-full overflow-hidden">
				<button class="px-4" @click.stop="toggleMenu(idx)" @dblclick.stop><i class="fas fa-ellipsis-v" /></button>
				<div>{{track.songname}}</div>
			</div>
		</div>
		<div class="whitespace-nowrap flex-grow overflow-hidden p-2">
			{{track.artist}}
		</div>
		<div class="whitespace-nowrap flex-grow overflow-hidden p-2">
			{{track.album}}
		</div>
	</div>
</template>

<script lang="ts">
import {TransportController} from '@/ApplicationState';
import {defineComponent, PropType} from 'vue';
import * as types from "@/Types";

export default defineComponent({
	name: "TrackRow",
	props: {
		track: {
			type: Object as PropType<types.Song>,
			required: true,
		},
		idx: {
			type: Number,
			required: true,
		},
		showMenu: {
			type: Boolean,
			default: false,
		},
	},
	emits: ["show-menu"],
	methods: {
		overridePlaylist(idx: number, trackIdx: number) {
			let i = trackIdx !== undefined ? trackIdx : idx;
			TransportController.playNow(i);
		},
		toggleMenu(idx: number) {
			if (this.showMenu) {
				this.$emit('show-menu', -1);
			} else {
				this.$emit('show-menu', idx);
			}
		},
		addToQueue(idx: number, trackIdx: number) {
			let i = trackIdx !== undefined ? trackIdx : idx;
			TransportController.addAllToPlaylist([i]);
			this.toggleMenu(-1);
		},
	},
});
</script>
