<template>
	<canvas id="visualization" class="w-full" style="height: 100px;"/>
</template>
<script lang="ts">
import { defineComponent, watch } from 'vue';
import { player } from '@/App.vue';
import { TransportController } from '@/ApplicationState';
import { TimeBasedVisualizer } from '@/Visualizer';

let visualizer: TimeBasedVisualizer;

export default defineComponent({
	computed: {
		colors() {
			return ["#22c55e", "#166534"];
		}
	},
	mounted() {
		watch(TransportController.playing, () => {
			if (TransportController.playing.value == true && !visualizer) {
				visualizer = new TimeBasedVisualizer(player, window);
				visualizer.start();
			}
		})
	},
});
</script>