@import 'tailwindcss';

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}


:focus-visible {
    @apply outline-none;
}

.browser {
	@apply flex-grow w-full flex flex-col bg-gradient-to-b from-white to-zinc-50;
}
.tab-list {
		@apply lg:mx-8 mx-1 py-1 border-b flex flex-row justify-around text-center;
}

.tab {
	@apply p-2 cursor-pointer flex-grow rounded-md flex flex-col justify-center h-12;

	&.active {
		@apply bg-green-500 text-white;
	}

	&.albums.active {
		@apply bg-green-500 bg-gradient-to-r from-green-500 to-green-800 text-white;
	}

	&.songs.active {
		@apply bg-gradient-to-r from-green-800 to-zinc-700 text-white;
	}

	&.active .filter {
		@apply text-zinc-200;
	}

	& .filter {
		@apply text-xs text-zinc-500 lg:block hidden;
	}
	
}

.card {
	@apply rounded-md shadow-md border overflow-hidden flex flex-col cursor-pointer bg-white;
	& .context-button {
		@apply absolute top-1/2 transform -translate-y-1/2 right-1 px-2 bg-white hover:bg-zinc-100 rounded-full;
	}
	& .context-menu {
		@apply absolute inset-0 bg-white z-10;
		& button {
			@apply w-full p-2 font-semibold hover:bg-zinc-200 text-left;
		}
	}
}

.track {
	@apply grid grid-cols-3 gap-1 cursor-pointer hover:bg-zinc-100;
	& .context-menu {
		@apply absolute left-8 top-0 bg-white z-10 border w-48;
		& button {
			@apply w-full p-2 font-semibold hover:bg-zinc-200 text-left block;
		}
	}
}

.transport {
	@apply border-t h-24;

	& .button-secondary {
		@apply bg-zinc-100 hover:bg-zinc-200 text-zinc-400;
		&.active {
			@apply text-black;
		}
	}
}

.playlist {
	@apply absolute bg-white border bottom-[7rem] top-[3.5rem] lg:bottom-24 lg:top-auto lg:h-1/2 lg:right-2 lg:left-auto right-0 left-0 rounded-md p-4 lg:w-1/3 w-full shadow-md flex flex-col;
	& .cover {
		@apply w-12;
		@apply h-12;
	}
	& .playlist-song {
		@apply rounded-md p-2 flex flex-row gap-2 hover:bg-zinc-200 cursor-pointer;
		&.active {
			@apply bg-zinc-100;
		}
	}
}

@media (prefers-color-scheme: dark) {
	body, html {
		@apply bg-zinc-900 text-white;
	}
	.browser {
		@apply bg-gradient-to-b from-zinc-800 to-zinc-900;
	}
	.tab-list {
		@apply border-zinc-900;
	}

	.tab .filter {
		@apply text-zinc-400;
	}

	.tab.active .filter {
		@apply text-white;
	}
	
	.card {
		@apply bg-zinc-700 border-zinc-700;
		& .context-button {
			@apply bg-zinc-700 hover:bg-zinc-800;
		}
		& .context-menu {
			@apply bg-zinc-700;
			& button {
				@apply  hover:bg-zinc-900;
			}
		}
	}

	.track {
		@apply hover:bg-zinc-900;
		& .context-menu {
			@apply bg-zinc-700;
			& button {
				@apply hover:bg-zinc-900;
			}
		}
	}

	.transport {
		@apply border-zinc-900;
		& .button-secondary {
			@apply bg-zinc-800 hover:bg-zinc-700 text-zinc-500;
			&.active {
				@apply text-white;
			}
		}
	}


	.playlist {
		@apply bg-zinc-900 border-zinc-600;
		& .playlist-song {
			@apply hover:bg-zinc-700;
			&.active {
				@apply bg-zinc-800;
			}
		}
	}
}

input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: ew-resize;
	@apply rounded-full bg-green-800 border-0 h-full aspect-square;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: ew-resize;
	@apply rounded-full bg-green-800 border-0 h-full aspect-square h-full border border-transparent;
	box-shadow: -407px 0 0 400px #22c55e;
}

input[type="range"]::-moz-range-progress {
	@apply h-full rounded-l-md bg-green-500;
}
input[type="range"]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	@apply rounded-l-md h-1;
}

.transport-button {
	aspect-ratio: 1/1;
	@apply flex place-content-center place-items-center;
}

.visualizer-cover {
	@apply bg-white/40 dark:bg-zinc-900/40 z-10 backdrop-blur-sm;
}