<template>
	<div class="flex flex-col h-screen select-none overflow-hidden">
		<nav class="px-5 py-3 text-white font-bold text-lg bg-gradient-to-r from-green-500 via-green-800 to-zinc-700">Chunes</nav>
		<template v-if="isLarge">
			<browser/>
			<transport />
		</template>
		<template v-else>
			<div class="tab-list">
				<a class="tab" :class="{ active: mobileTab === 'playing' }" @click="mobileTab = 'playing'">
					<span>Now Playing</span>
				</a>
				<a class="tab" :class="{ active: mobileTab === 'browser' }" @click="mobileTab = 'browser'">
					<span>Browser</span>
				</a>
			</div>
			<div class="relative flex-grow overflow-auto">
				<div class="absolute inset-1 p-4">
					<div v-show="mobileTab === 'playing'" class="flex flex-col h-full w-full">
						<now-playing />
					</div>
					<div v-show="mobileTab === 'browser'" class="flex flex-col h-full select-none overflow-hidden">
						<browser class="rounded-lg"/>
					</div>
				</div>
			</div>
		</template>
	</div>
</template>

<script lang="ts">
import Browser from "@/components/browser/Browser.vue";
import Transport from "@/components/transport/Transport.vue";
import NowPlaying from "@/components/transport/NowPlaying.vue"
import { isLarge, TransportController } from "./ApplicationState";

export const player: HTMLAudioElement = document.createElement("audio");

export default {
	name: "App",
	components: {
		Browser,
		Transport,
		NowPlaying
	},
	data() {
		return {
			mobileTab: "playing",
			isLarge,
		}
	},
	mounted() {
		player.currentTime = TransportController.progress.value;
	},
};
</script>