<template>
	<div class="w-full h-full flex flex-col items-center gap-4">
		<div class="h-full flex flex-col justify-center items-center">
			<img
				class="w-9/12 aspect-square"
				v-if="currentTrack.cover"
				:src="`music/artwork/${currentTrack.cover}`"
			/>
		</div>
		<div class="flex flex-row gap-2 w-full">
			<div class="flex flex-col whitespace-nowrap overflow-hidden">
				<div class="font-bold text-2xl">{{currentTrack.songname}}</div> 
				<div class="text-black dark:text-white text-opacity-50 dark:text-opacity-50">{{currentTrack.artist}}</div>
				<div class="text-black dark:text-white text-opacity-50 dark:text-opacity-50">{{currentTrack.album}}</div>
			</div>
		</div>
		<div ref="progress" class="h-1 w-full flex flex-row bg-gradient-to-r from-green-500 via-green-800 to-zinc-700" @click="setProgress($event)">
			<div class="h-1 bg-transparent" :style="`flex: ${currentTime};`" />
			<div class="h-1 bg-white dark:bg-zinc-800" :style="`flex: ${duration - currentTime};`" />
		</div>
		<div class="flex flex-row items-center w-full gap-8">
			<div class="flex justify-between font-2xl text-center items-center gap-2 transport w-full">
				<button @click="setRepeat(!repeat)">
					<i class="fas fa-sync p-1 rounded-md button-secondary" :class="{active: repeat}" />
				</button>
				<button @click="prevSong">
					<i class="fas fa-step-backward rounded-full w-12 transport-button button-secondary" />
				</button>
				<button>
					<i
						v-if="playing"
						class="fas fa-pause bg-green-500 hover:bg-green-600 rounded-full text-white w-12 transport-button"
						@click="play(false)"
					/><i
						v-else
						class="fas fa-play bg-green-500 hover:bg-green-600 rounded-full text-white w-12 transport-button"
						@click="play(true)"
					/>
				</button>
				<button @click="nextSong">
					<i
						class="fas fa-step-forward rounded-full w-12 transport-button button-secondary"
					/>
				</button>
				<button @click="setShuffle(!shuffle)">
					<i class="fas fa-random p-1 rounded-md button-secondary" :class="{'active': shuffle}" />
				</button>
			</div>
			<div class="text-right flex flex-col">
				<playlist />
			</div>
		</div>
	</div>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import ApplicationState, {TransportController} from "@/ApplicationState";
import Playlist from "@/components/transport/Playlist.vue";

export let player: HTMLAudioElement = document.createElement("audio");

export default defineComponent({
	name: "Transport",
	components: {
		Playlist,
	},
	data() {
		return {
			tracklist: ApplicationState.tracklist,
			playlist: ApplicationState.playlist,
			playing: TransportController.playing,
			duration: 1,
			currentTime: 0,
			currentTrack: TransportController.currentTrack,
			repeat: TransportController.repeat,
			shuffle: TransportController.shuffle,
		};
	},
	watch: {
		currentTrack() {
			player.src = `music/songs/${encodeURIComponent(this.currentTrack.filename)}`;
		},
	},
	mounted() {
		//player.volume = this.volume;
		player.addEventListener("ended", this.nextSong);
		player.addEventListener("timeupdate", () => {
			this.updateProgress();
		});
		TransportController.setPlayAction(this.play);
	},
	methods: {
		play(shouldPlay: boolean): void {
			if (shouldPlay) { 
				player.play();
			} else {
				player.pause();
			}
			TransportController.setPlaying(shouldPlay);
		},
		updateProgress(): void {
			this.currentTime = player.currentTime;
			this.duration = player.duration;
		},
		setProgress (event: MouseEvent) {
			let progress = this.$refs.progress; 
			if (progress instanceof HTMLElement) {
				player.currentTime =
					(event.pageX /progress.offsetWidth) *
					this.duration;
			}
		},
		prevSong() {
			TransportController.prevSong();
		},
		nextSong() {
			TransportController.nextSong();
		},
		setRepeat(repeat: boolean): void {
			TransportController.setRepeat(repeat);
		},
		setShuffle(shuffle: boolean): void {
			TransportController.setShuffle(shuffle);
		},
	},
});
</script>

<style lang="postcss" scoped>
	.transport-button {
		aspect-ratio: 1/1;
		@apply flex place-content-center place-items-center;
	}
</style>