<template>
	<div>
		<button class="inline-block" @click="showPlaylist = !showPlaylist"><i class="text-xl fas fa-bars" /></button>
		<teleport to="body">
			<div v-if="tracklist.length > 0 && showPlaylist" class="playlist">
				<div class="text-left text-xl pb-4 font-bold">Now Playing</div>
				<div class="h-full w-full overflow-x-hidden overflow-auto rounded-md flex-grow">
					<div v-for="(song, idx) in playlist" :key="song" class="playlist-song" :class="{'active': idx === trackIdx}" @dblclick="playSong(idx)">
						<div class="flex-none">
							<img class="cover" :src="`music/artwork/${tracklist[song].cover}`" />
						</div>
						<div class="flex flex-col whitespace-nowrap overflow-none text-left">
							<div class="font-bold">{{tracklist[song].songname}}</div>
							<div class="text-xs">{{tracklist[song].albumArtist || tracklist[song].artist}}</div>
						</div>
					</div>
				</div>
			</div>
		</teleport>
	</div>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import ApplicationState, {TransportController} from "@/ApplicationState";

export default defineComponent({
	name: "Playlist",
	data() {
		return {
			tracklist: ApplicationState.tracklist,
			playlist: ApplicationState.playlist,
			trackIdx: TransportController.trackIdx,
			showPlaylist: false,
		};
	},
	methods: {
		playSong: (idx: number) => TransportController.changeSong(idx),
	},
});
</script>