<template>
	<div class="transport">
		<div ref="progress" class="h-1 flex flex-row bg-gradient-to-r from-green-500 via-green-800 to-zinc-700" @click="setProgress($event)">
			<div class="h-1 bg-transparent" :style="`flex: ${currentTime};`" />
			<div class="h-1 bg-white dark:bg-zinc-800" :style="`flex: ${duration - currentTime};`" />
		</div>
		<div class="flex flex-row h-full">
			<div class="flex-none h-24 w-24">
				<img
					v-if="currentTrack.cover"
					:src="`music/artwork/${currentTrack.cover}`"
				/>
			</div>
			<div class="h-full w-full relative flex">
				<visualizer class="absolute inset-0 z-0"/>
				<div class="h-full w-full grid grid-cols-3 z-20 visualizer-cover">
					<div class="flex flex-row gap-2 items-center">
						<div class="flex flex-col p-2 whitespace-nowrap overflow-hidden">
							<div class="font-bold">{{currentTrack.songname}}</div> 
							<div>{{currentTrack.artist}}</div>
							<div class="font-zinc-400">{{currentTrack.album}}</div>
						</div>
					</div>
					<div class="flex justify-center font-2xl text-center items-center gap-2">
						<button @click="setRepeat(!repeat)">
							<i class="fas fa-sync p-1 rounded-md button-secondary" :class="{active: repeat}" />
						</button>
						<button @click="prevSong">
							<i class="fas fa-step-backward rounded-full w-12 transport-button button-secondary" />
						</button>
						<button>
							<i
								v-if="playing"
								class="fas fa-pause bg-green-500 hover:bg-green-600 rounded-full text-white w-12 transport-button"
								@click="play(false)"
							/><i
								v-else
								class="fas fa-play bg-green-500 hover:bg-green-600 rounded-full text-white w-12 transport-button"
								@click="play(true)"
							/>
						</button>
						<button @click="nextSong">
							<i
								class="fas fa-step-forward rounded-full w-12 transport-button button-secondary"
							/>
						</button>
						<button @click="setShuffle(!shuffle)">
							<i class="fas fa-random p-1 rounded-md button-secondary" :class="{'active': shuffle}" />
						</button>
					</div>
					<div class="grid grid-cols-2 z-10">
						<div class="text-right flex flex-col justify-center items-center pr-8">
							<input
								v-model="volume"
								class="rounded-lg overflow-hidden appearance-none bg-zinc-400 h-3 flex-none hidden lg:block"
								type="range"
								min="0"
								max="1"
								step=".01"
							/>
						</div>
						<div class="text-right flex flex-col justify-center pr-8">
							<playlist />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script lang="ts">
import {defineComponent, watch} from "vue";
import ApplicationState, {TransportController} from "@/ApplicationState";
import Playlist from "@/components/transport/Playlist.vue";
import Visualizer from "@/components/Visualizer.vue";
import { player } from "@/App.vue";

export default defineComponent({
	name: "Transport",
	components: {
		Playlist,
		Visualizer,
	},
	data() {
		return {
			tracklist: ApplicationState.tracklist,
			playlist: ApplicationState.playlist,
			playing: TransportController.playing,
			duration: 1,
			currentTime: TransportController.progress,
			currentTrack: TransportController.currentTrack,
			repeat: TransportController.repeat,
			shuffle: TransportController.shuffle,
			volume : TransportController.volume.value,
		};
	},
	watch: {
		volume() {
			let vol = parseFloat(String(this.volume));
			TransportController.setVolume(vol);
			//player.volume = vol;
			this.updateProgress();
		},
		currentTrack() {
			player.src = `music/songs/${encodeURIComponent(this.currentTrack.filename)}`;
		},
	},
	mounted() {
		//player.volume = this.volume;
		player.addEventListener("ended", this.nextSong);
		player.addEventListener("timeupdate", () => {
			this.updateProgress();
		});
		TransportController.setPlayAction(this.play);
		watch(TransportController.volume, (val) => {
			this.volume = val;
			TransportController.setVolume(this.volume);
			//player.volume = this.volume;
			this.updateProgress();
		});
	},
	methods: {
		play(shouldPlay: boolean): void {
			if (shouldPlay) { 
				player.play();
			} else {
				player.pause();
			}
			TransportController.setPlaying(shouldPlay);
		},
		updateProgress(): void {
			TransportController.setProgress(player.currentTime);
			this.duration = player.duration;
		},
		setProgress (event: MouseEvent) {
			let progress = this.$refs.progress; 
			if (progress instanceof HTMLElement) {
				player.currentTime =
					(event.pageX /progress.offsetWidth) *
					this.duration;
			}
		},
		prevSong() {
			TransportController.prevSong();
		},
		nextSong() {
			TransportController.nextSong();
		},
		setRepeat(repeat: boolean): void {
			TransportController.setRepeat(repeat);
		},
		setShuffle(shuffle: boolean): void {
			TransportController.setShuffle(shuffle);
		},
	},
});
</script>
